  body{
    margin:0;
    padding:0;
    display:block;
  }

  div{
    display:block;
    unicode-bidi:isolate;
  }

  .first-block{
    background: linear-gradient(to top, #B5A8D5, #7A73D1, #4D55CC);
    min-height:100vh;
    width:100%;
    position:relative;
    align-items: center;
    text-align: center;
    display:flex;
    flex-direction:column;
    overflow: hidden;
    padding-top:100px;
  }
  
  #light1{
    width:100px;
    height:auto;
    position:absolute;
    top:20px;
    right:60px;
  }

  .title{
    width:100%;
    display:block;
    unicode-bidi:isolate;
  }

  #light2{
    width:100px;
    height:auto;
    position:absolute;
    top:55%;
    left:10%;
  }

  .title h1{
    font-size: 5rem;
    color: white;
    margin-bottom: 2.5rem;
    font-family:"Mea Culpa", cursive;
    unicode-bidi:isolate;
    width:100%;
    position:relative;
  }

  .title h2{
    font-size: 2rem;
    color: white;
    font-family:"Libre Baskerville", serif;
  }

  #pro{
    font-weight: bold;
    color: #ffeb3b;
    text-decoration:underline;
  }

  #hills{
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 600px;
  }

  .second-block{
    margin-top:50px;
    align-items:center;
    text-align:center;
    margin-bottom:100px;
  }

  .profile{
    display:block;
    width:100%;
  }

  #hi{
    font-size:3rem;
    color:#4D55CC;
    font-family:"Libre Baskerville", serif;
    font-style: italic;
  }

  .intro{
    padding-left:30%;
    padding-right:30%;
    font-size:1.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif
  }

  .me{
    height:250px;
    width:250px;
    padding-top:60px;
  }

  hr{
    border:dotted #ADB2D4;
    border-bottom:none;
    width:4%;
    margin:100px auto;   
  }
  
  h2{
    color:#4D55CC;
    font-size:3rem;
    padding:20px;
    font-family:"Libre Baskerville", serif;
  }

  h3{
    color:#4D55CC;
    font-size:1.5rem;
    font-family:"Libre Baskerville", serif;
  }

  p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:1.1rem;
  }

  .parent{
    display:grid;
    margin:100px auto 0px auto;
    grid-template-columns:0.5fr 1fr;
    grid-template-rows:repeat(1fr 1fr);
    column-gap: 20px;
    row-gap:30px;
    text-align:left;
    width:50%;
  }

  img{
    height:300px;
    width:300px;
  }

  .message{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:1.1rem;
    margin:50px auto 50px auto;
    width:30%;
  }

  .btn{
    background-color:#4D55CC;
    padding:10px 20px 10px 20px;
    border-bottom: none;
    font-size:1.5rem;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color:aliceblue;
    text-decoration: none;
    cursor:pointer;
  }

  .btn:hover {
    background-color: #B5A8D5; /* color when hovered */
  }

  .final-container{
    background-color:#7A73D1;
    padding:50px;
    align-items:center;
    text-align:center;
  }

  .footer{
    text-decoration:none;
    padding:20px;
    color:aliceblue;
    cursor:pointer;
  }
  .footer:hover{
    color:goldenrod
  }
  .cw{
    font-size:0.75rem;
    padding-top:20px;
  }